.container {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin: 0 auto;
  height: 100px;
}
h1 {
  color: red;
  font-size: 4rem;
}
h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
}
section {
  display: flex;
  padding: 20px 0;
  border-bottom: solid 1px rgb(206, 206, 206);
  gap: 20px;
  width: 100%;
}
img {
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
p,
h2,
section > div {
  flex: 3;
  font-size: 1.1rem;
  font-weight: bold;
}
section > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.direct {
  color: red;
}
section > div > div {
  display: flex;
  width: 160px;
}
