body {
  font-family: "roboto", sans-serif;
}
.container,
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1224px;
  flex-direction: column;
  margin-top: 40px;
}
h1 {
  color: red;
  font-size: 4rem;
}
p,
h2 {
  font-size: 1.1rem;
  font-weight: bold;
}
h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
}
section {
  justify-content: left;
  padding: 20px 0;
  margin-top: 20px;
  border-bottom: solid 1px rgb(206, 206, 206);
  gap: 20px;
  width: 60%;
}
img {
  object-fit: cover;
  height: 100%;
}
.direct {
  color: red;
}
section > div > div {
  display: flex;
  justify-content: space-between;
  width: 160px;
}
